body{
    background-color: rgb(184, 201, 216);
    padding: 20px;
}
img{
    max-width:200px;
    border-radius: 10px;
    margin-left: 350px;
}
h1{
    color: red;
    text-align: center;
}
h3{
    color:fuchsia;
    font-size: 25px;
    text-align: center;
}
p{
    text-align: justify;
}
a{
    text-decoration: none ;
    padding: 10px;
    background-color: firebrick;
    color: white;
    border-radius: 10px;
    transition: 0.5s;
}
a:hover{
    background-color: black;
}

@media screen and (max-width:600px)
{
    body{
        background-color: rgb(86, 2, 2);
        padding: 20px;
    }
    p{
        text-align: justify;
        color: rgb(178, 190, 201);
        font-size: 18px;
    }
    img{
        width:200px;
        height: 300px; 
        border-radius: 10px;
        margin-left:50px;
    }
    a{
        text-decoration: none ;
        background-color: firebrick;
        color: white;
        border-radius: 10px;
        margin-left: 100px;
       
    }


}